<p>signup-customer-module works!</p>
<div hidden appSignup (setForm)="setForm($event)" [formElements]="formElements"></div>
<div class="text-center">
    <form  [formGroup]="signUpForm" (ngSubmit)="submitForm()" class="form-signup border rounded">
        <img class="mb-2" src='assets/cart.png' alt="" width="80" height="80">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up!!</h1>
        <!-- name -->
        <input type="text" id="customerName" formControlName="customerName"  class="form-control mb-2" placeholder="Your name" required autofocus>
        <!-- email -->
        <input type="email" id="email" formControlName="email"  class="form-control" placeholder="Email address" required autofocus>
        <!-- password -->
        <input type="password" id="password"  formControlName="password"  class="form-control" placeholder="Password" required>
         <!-- phone -->
        <input type="number" id="contactNo" formControlName="contactNo"  class="form-control" placeholder="contactNo" required autofocus>
        <!-- gender -->
         <div class="checkbox "> 
        <input type="radio"   formControlName="gender"  value="Male">Male
        <input type="radio" formControlName="gender" value="Female">Female
     </div>  
      <!-- Address -->
      <input type="text" id="Address" formControlName="address"  class="form-control" placeholder="Address" required autofocus>
        <button class="mt-3 btn btn-lg btn-success border rounded btn-block" type="submit" >Create Account</button>
        <p class="mt-3 text-muted">&copy; 2020-2021</p>
      </form>
</div>
