.container {
    padding: 1rem 0rem;
  }
  
 
  
  .table-image  td th{
    
      vertical-align: middle;
    
  }

  .table{
      white-space: nowrap;
  }

  .display-6{
      font-weight: 100;
  }