<div class="container-fluid">
    <div class="row">
        <div id="sideFilter" class="col-1 border border-top-0 m-5 border-left-0">
            <ul class="navbar-nav mt-4">
                <li class="nav-item active">
                  <a class="nav-link" routerLink='productlist'>Products</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink='customerlist'>Customers</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" routerLink='customerlist'>Categories</a>
                  </li>
              </ul>
        </div>
        <div id="storeComponent"  class="col-11 ml-12">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
