<p>filter-works!</p>
<div>
    <h6>Category</h6>
<hr>
<div *ngFor="let category of categoriesArrayList ; index as i" class="custom-control custom-radio m-2">
<input type="radio" name="category" id="a{{i}}" value="{{category.CategoryID}}" class="custom-control-input">
<label  (click)="onSelectedCategory(category.CategoryID)" for="a{{i}}" class="custom-control-label">{{category.CategoryName}}</label>
</div>
</div>