


<nav  class="navbar navbar-expand-lg navbar fixed-top navbar-light  bg-primary">
    <a class="navbar-brand" routerLink=''><strong>Shopify</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul    class="navbar-nav mr-auto" id="options">
        <li *ngIf="userRole == 'Admin' " class="nav-item active">
          <a   class="nav-link" routerLink='admin'>Admin Dashboard</a>
        </li>
      </ul>
      <!-- <form class="form-inline">
        <input class="form-control mr-sm-2"  placeholder="Search Products"  style ="width : 300px" 
        [(ngModel)] ="searchString"  name ="searchString" aria-label="Search">
        <button class="btn bg-white" (click)="searchStringSubmit()">Search</button>
      </form> -->
      <ul class="navbar-nav my-2 my-lg-0">
        <li *ngIf ="userRole" class="nav-item active">
          <a class="nav-link" routerLink=''>Orders</a>
        </li>
        <li *ngIf ="userRole" class="nav-item active">
            <a class="nav-link" routerLink=''>Cart</a>
        </li>
        <li *ngIf ="!userRole"  class="nav-item active">
            <a class="nav-link"  routerLink='/login'>Login</a>
        </li>
        <li *ngIf ="userName" class="nav-item active">
          <a class="nav-link" routerLink=''>{{userName}}</a>
        </li>
        <li *ngIf ="userRole" class="nav-item active">
          <a class="nav-link" (click)="logout()" routerLink=''>Logout</a>
        </li>
        <li *ngIf ="!userRole" class="nav-item active">
          <a class="nav-link" routerLink='/signup'>Signup</a>
        </li>
      </ul>
    </div>
  </nav>



  


  

