

<div class="container-fluid">
   
    <div class="row mt-3">
        <div id="sideFilter" class="col-2 border border-top-0 m-5 border-left-0">
         <!-- <app-filter></app-filter>  -->
        <p>filter-works!</p>
        </div>
        <div id="storeComponent"  class="col-10">
         <app-store></app-store>
        </div>
    </div>
  
</div>
