
<p>store-works!</p>
<div class="row">
    <div *ngFor="let product of productsArrayList | productSearchBar : searchStringFilter | categoryFilter : searchCategoryID" class="m-1 mx-auto">
        <app-product-card [product]='product'></app-product-card>
    </div>
</div>
