<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 90%;">
    
        <label class="col-md-4 col-form-label">Product Name</label>
        <div class="col-sm-8 active">
            <input type="text" class="form-control" [(ngModel)]="product.productName"
            placeholder="Enter Product Name" autofocus>
        </div>
    
        <label class="col-sm-4 col-form-label">Category</label>
        <div class="col-sm-8">
           <select class="form-control" [(ngModel)]="categoryIdInput">
               <option>--Select--</option>
               <option *ngFor="let category of categoryService.categoriesList">
                {{category.categoryId}}){{category.categoryName}}
               </option>
           </select>
        </div>
    
        <label class="col-sm-4 col-form-label">Price</label>
        <div class="col-sm-8">
            <input type="number"  [(ngModel)]="product.price">
        </div>

        <label class="col-sm-4 col-form-label">Quantity</label>
        <div class="col-sm-8">
            <input type="number"  [(ngModel)]="product.quantity">
        </div>

        <label class="col-sm-4 col-form-label">Product Status</label>
        <div class="col-sm-8">
            <label class="radio-inline m-2">
                <input type="radio" [(ngModel)] ="product.productStatus"  value="Approved"checked>Approved
              </label>
              <label class="radio-inline">
                <input type="radio"[(ngModel)] ="product.productStatus" value="NonApproved" >NonApproved
              </label>
        </div>
    
    </div>
  
    </div>


    <button (click)="addProduct(product)" *ngIf="product.productId==0" class="btn btn-primary" >
        Add
    </button>
    
    <button (click)="updateProduct(product)" *ngIf="product.productId!=0" class="btn btn-primary">
        Update
    </button>
